*{
    padding: 0;
    margin: 0;

}
.logo{
    display: block;
    margin: auto;
    text-align: center;

}
.container{
    max-width: 450px;
    /* background-color: rgb(174, 165, 165); */
    height: 60vh;
    border: 2px solid black;
    margin: auto;
    overflow-y: auto;
    margin-bottom: 25px;

}
.message{
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px ;
    margin: 15px 12px ;
    width: 25%;
    border-top-left-radius: 0;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    max-width: 750px;
    margin: auto;
    /* background-color: aqua; */
    margin-top: -22px;
}
#messageInp{
    margin: 2px 0px;
    margin-left: 152px;
    display: inline-block;
    height: 20px;
    width: 55%;
    border: 2px solid black;
    padding-left: 10px;
    border-radius: 5px;
    /* border-right: none; */
}
.btn{
    /* border: 2px solid black; */
    /* border-left: none; */
    height: 23.5px;
    border-radius: 5px;
    /* margin-top: 5px; */
    /* margin-left: -5px; */
    cursor: pointer;
}